@charset "utf-8";
@import '~bulma/bulma.sass';

$bg:#111825;
$primary: #152242;
$accent: #AF5CE6;
$accentSecondary: #E466FC;
$accentTernary: #9650EA;
$colorPrimary: #9AA0A8;
$colorSecondary: #313E5E;
// $gradient: ;


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background:$bg;
    width:100%;
    height:100%;
}

