@import "~bulma/sass/utilities/initial-variables";

//Color Theme
$bg: #0d121d;
$bgInput:#0d1422;
$bgDark: #0a0e17;
$bgNav:#171e2ebf;
$card: #152242;
$accent: #cf00ff;
$accentSecondary: #00e1e6e3;
$accentTernary: #4f0062e3;
$transparent: transparent;
$colorPrimary: #bebebe;
$colorSecondary: #4ccacd;
$family-primary: 'Barlow Condensed', sans-serif;
$shadowPrimary: 0 5px 28px #320f32, 0 5px 10px #671b6624;
$shadowSecondary:  0 0px 10px #320f32, 0 0px 0px #671b6624;

//Bulma Custom Colors
$family-code: $family-primary;
$input-background-color:$bgInput;
$navbar-item-hover-background-color: $transparent;
$card-background-color: #171e2e61;
$table-background-color: #171e2e61;
$table-body-background-color: purple;
$table-color: $colorPrimary;
$table-row-hover-background-color: #cf00ff04;
$table-cell-border: 1px solid $accentTernary;


$custom-colors: (
 "bg":($bg, #000), "bgDark": ($bgDark, #fff), "bgNav":($bgNav, #fff), "card":($card, #fff),"accent": ($accent, #FFF),
 "accentSecondary": ($accentSecondary, $bg), "accentTernary":($accentTernary, #000), 
 "colorPrimary": ($colorPrimary, #000), "colorSecondary": ($colorSecondary, #fff)
 );

