@import './_variables.scss';


#root > div > section > div > div > table {
    background-color: $table-background-color;
    color:$colorPrimaryDarker;
    font-size:1.3rem;
    width:100%;
    border-collapse: inherit;
    text-transform:capitalize;
    @media screen and (min-width:1024px) {
    width:50vw;
    }
    
}

#root > div > section > div > div > table > thead > tr > th {
    color: $accent;
    border: $table-cell-border;
    font-weight:600;
}

#root > div > section > div > div > table > tbody > tr {
    cursor:pointer;
    border-collapse:inherit;
    -webkit-tap-highlight-color: transparent;
}

#root > div > section > div > div > table > tbody > tr:hover {
    background-color:$table-row-hover-background-color;
    box-shadow: $shadowPrimary;
    transition: all 0.5s ease;
}



#root > div > section > div > div > table > tbody > tr > th {
    color: $colorPrimaryDarker; 
    border: $table-cell-border;
    font-weight: 400;
}

#root > div > section > div > div > table > tbody > tr > td{
    border: $table-cell-border;
}

#root > div > section > div > div > table > tbody > tr:hover th {
    border: 1px solid $accent;
    border-top: 1px solid $accent;
    color: $accent;
    transition: all 0.5s ease;
}

#root > div > section > div > div > table > tbody > tr:hover td {
    border: 1px solid $accent;
    border-top: 1px solid $accent;
    color:$accent;
    transition: all 0.5s ease;
}

