@import './_variables.scss';


.modal {
    width:100vw;
    height:100vh;
    padding:2rem;
    .modal-background {
    background-color: $bgDark;
    }
    .modal-content {
        background-color:#171e2e61;
        border:1px solid #991bff;
        box-shadow: $shadowPrimary;
        padding: 1rem 2rem;
        text-align:left;
        color: $colorPrimary;
       
        max-width:500px;
    }
 
    h2 {
        font-size:3rem;
        text-align:center;
        font-weight:600;
        width:100%;
        border-bottom:1px solid $accent;
        margin:0px auto 30px;
        @media screen and (min-width:768px) {
            width:50%;
        }
    }

    strong {
        color:$accent;
        font-size:2rem;
        font-weight: 600;
        text-transform: uppercase;
        font-style:normal;
    }

    .id-wrapper {
        width:100%;
        display:flex;
        justify-content:space-between;
        margin:0px auto 10px;
        h3 {
            font-size: 1.5rem;
        }
        strong {
            font-size:1.5rem;
            font-weight: 400;
        }
    }
    h3.album-title {
        font-size:2rem;
        text-transform:capitalize;
        text-align:center;
        font-style:italic;
        margin-bottom:20px;
    }
   
}
