@import './_variables.scss';


nav {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5rem;
    width:100%;
}

#root > div > nav > div > h1 {
    align-self:center;
    text-transform:uppercase;
    font-size:1.7rem;
    @media screen and (min-width:768px) {
        margin-left:30px;
    }
}

#root > div > nav > div.user-wrapper > a {
    background-color: $navbar-item-hover-background-color;
    align-self:center;
    &:hover {
        background-color:$navbar-item-hover-background-color;
    }
}

.user-wrapper {
    display:flex;
    align-items:center;
    span {
        color:$accent;
        font-size: 1.2rem;
        font-weight:400;
        font-family: $family-primary;
    }
    & > * {
        margin-right:5px;
    }
}

.profile {
    font-size:2rem;
    color:$accent;
}

svg.profile {
    color: $accentSecondary;
    &:hover {
        box-shadow: $shadowPrimary;
        color: $accent;
        transition: all 0.5s ease;
    }
}

#root > div > nav > div.user-wrapper > button.btn {
    background-color: transparent;
    border-color: $accentTernary;
    color: $accent;
    font-family: $family-primary;
    text-transform:uppercase;
    font-weight:400;
    &:hover {
        box-shadow:$shadowPrimary;
        border-color:$accent;
        transition: all 0.5s ease;
    }
}
